* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.hero {
  background-image: url("/assets/img/pink-bg.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;

  .hero__header {
    justify-content: center;
    display: flex;

    .deco__one {
      position: absolute;
      left: 0;
      margin: 42px 0 0 232px;
      width: 32px;
    }

    .logo__img {
      padding: 42px 0;
      width: 242px;
    }
  }

  .hero__content {
    padding: 22px 0;
    .carousel {
      display: flex;
      justify-content: center;

      .item {
        transform: rotate(-4deg);
        display: flex;
        justify-content: center;

        .balloon {
          position: absolute;
          z-index: 1;
          right: 0;
        }

        .img__carousel {
          width: 695px;
        }

        .text__carousel {
          font-family: "Anton", sans-serif;
          color: #fff;
          position: absolute;
          top: 132px;
          text-align: center;
          text-transform: uppercase;
          font-size: 52px;
          font-weight: 300;
        }
      }
    }
  }
}

.hero__bottom {

  padding: 32px 0 12px;

  .deco__two {
    margin: 0 232px 0;
    position: absolute;
    right: 0;
    bottom: -220px;
    width: 32px;
  }

  .button__content {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Anton", sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 28px;
    text-decoration: none;
  }
  .arrow__button{
    display: flex;
    justify-content: center;

    .arrow__img {
      width: 32px;
    }
    
  }
}
