* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

* ::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #5c12aa;
  font-family: "acumin-pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  opacity: 1;
}

* :-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #5c12aa;
  font-family: "acumin-pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  opacity: 1;
}

* ::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #5c12aa;
  font-family: "acumin-pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  opacity: 1;
}

* ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #5c12aa;
  font-family: "acumin-pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  opacity: 1;
}

* :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #5c12aa;
}

* ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #5c12aa;
}

* textarea:focus,
* input:focus,
* select:focus {
  outline: 0;
}

@-webkit-keyframes animated-bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  60% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes animated-bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  60% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

.hero {
  background-image: url("/assets/img/pink-bg-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .hero__header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .hero__header .logo__img {
  padding: 42px 0;
  width: 220px;
}

.hero .hero__content {
  padding: 22px 0;
}

.hero .hero__content .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.hero .hero__content .carousel .glide__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .hero__content .carousel .item {
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .hero__content .carousel .item .balloon {
  position: absolute;
  z-index: 1;
  right: 0;
}

.hero .hero__content .carousel .item .img__carousel {
  width: 628px;
}

.hero .hero__content .carousel .item .text__carousel {
  font-family: "Anton", sans-serif;
  color: #fff;
  position: absolute;
  top: 132px;
  text-align: center;
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 300;
}

.hero__bottom {
  padding: 32px 0 12px;
}

.hero__bottom .button__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: "Anton", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 28px;
  text-decoration: none;
}

.hero__bottom .arrow__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: animated-bounce 2s infinite ease;
          animation: animated-bounce 2s infinite ease;
}

.hero__bottom .arrow__button .arrow__img {
  width: 32px;
}

.main {
  background: #fff;
}

.main .main__title {
  font-family: "Anton", sans-serif;
  color: #5c12aa;
  font-size: 28px;
  padding: 52px 292px 0;
  text-transform: uppercase;
  text-align: center;
}

.main .main__get-to-know {
  text-align: center;
  color: #5c12aa;
  font-family: "acumin-pro", sans-serif;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  padding: 42px 0;
}

.main .main__content {
  background-image: url("/assets/img/bg-deco.png");
  background-size: cover;
  background-position: center center;
}

.main .main__row-1 {
  background-color: transparent;
  overflow: visible;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.main .main__row-1 .influencers__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.main .main__row-1 .influencers__content:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.main .main__row-1 .influencer__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  max-width: 300px !important;
}

.main .main__row-1 .influencer__img .img__resize__bottom {
  padding: 0 0 14px;
}

.main .main__row-1 .influencer__img .img__resize__top {
  padding: 14px 0 0;
}

.main .main__row-1 .influencer__infos {
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 15px -2px rgba(41, 41, 41, 0.99);
          box-shadow: 0px 2px 15px -2px rgba(41, 41, 41, 0.99);
  width: 252px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  padding: 92px 0 24px 0;
  position: absolute;
  bottom: -98px;
}

.main .main__row-1 .influencer__card {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .main__row-1 .influencer__category {
  background: #5fd3e8;
  margin: 0 52px;
  color: #fff;
  border-radius: 24px;
  font-family: "acumin-pro", sans-serif;
  font-weight: 300;
  font-size: 12px;
  padding: 4px;
}

.main .main__row-1 .influencer__name {
  color: #5c12aa;
  font-family: acumin-pro-extra-condensed, sans-serif;
  font-weight: 800;
  font-size: 32px;
  letter-spacing: -1px;
}

.main .main__row-1 .influencer__user {
  font-family: "acumin-pro", sans-serif;
  font-weight: 300;
  color: #5c12aa;
  font-size: 18px;
}

.main .main__row-1 .influencer__followers {
  color: #ff4a5a;
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -1px;
}

.main__row-2 {
  background-color: transparent;
  margin-top: 132px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-size: cover;
  overflow: visible;
}

.main__row-2 .influencers__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.main__row-2 .influencers__content:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.main__row-2 .influencer__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  max-width: 300px !important;
}

.main__row-2 .influencer__img .img__resize__bottom {
  padding: 0 0 14px;
}

.main__row-2 .influencer__infos {
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 15px -2px rgba(41, 41, 41, 0.99);
          box-shadow: 0px 2px 15px -2px rgba(41, 41, 41, 0.99);
  width: 252px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  padding: 92px 0 24px 0;
  position: absolute;
  bottom: -98px;
}

.main__row-2 .influencer__card {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__row-2 .influencer__category {
  background: #5fd3e8;
  margin: 0 52px;
  color: #fff;
  border-radius: 24px;
  font-family: "acumin-pro", sans-serif;
  font-weight: 300;
  font-size: 12px;
  padding: 4px;
}

.main__row-2 .influencer__name {
  color: #5c12aa;
  font-family: acumin-pro-extra-condensed, sans-serif;
  font-weight: 800;
  font-size: 32px;
  letter-spacing: -1px;
}

.main__row-2 .influencer__user {
  font-family: "acumin-pro", sans-serif;
  font-weight: 300;
  color: #5c12aa;
  font-size: 18px;
}

.main__row-2 .influencer__followers {
  color: #ff4a5a;
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -1px;
}

.footer {
  background-image: url("/assets/img/blue-background-desktop.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 108px;
}

.footer .footer__title {
  color: #5c12aa;
  font-family: acumin-pro-extra-condensed, sans-serif;
  font-weight: 800;
  font-size: 42px;
  letter-spacing: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 132px 0 22px;
  text-align: center;
}

.footer .footer__subtitle {
  text-align: center;
  color: #fff;
  font-family: "acumin-pro", sans-serif;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  padding: 0 0 32px;
}

.footer .form__cadastro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .form__cadastro .form__fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
}

.footer .form__cadastro .form__fields .form__label {
  color: #5c12aa;
  font-family: "acumin-pro", sans-serif;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
}

.footer .form__cadastro .form__fields .form__input {
  background-color: #fff;
  border-radius: 22px;
  height: 42px;
  text-indent: 22px;
  margin: 8px 0;
  border: solid 1px #ff5ae1;
}

.footer .form__cadastro .form__fields .form__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .form__cadastro .form__fields .form__submit .button__submit {
  margin: 22px 0 72px;
  background-color: #ff5ae1;
  border-radius: 32px;
  height: 52px;
  color: #fff;
  font-family: "acumin-pro", sans-serif;
  font-size: 18px;
  font-weight: 300;
  border: none;
  min-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .form__cadastro .form__fields .form__submit .button__submit:hover {
  background-color: #d84ebf;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer .footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #5c12aa;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 22px;
  color: #fff;
  font-family: "acumin-pro", sans-serif;
  font-size: 14px;
}

.footer .footer__container .jobspace__link {
  color: #fff;
  font-family: "acumin-pro", sans-serif;
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
}

.footer .footer__container .jobspace__link:hover {
  color: #00f0cd;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer__infos__mob {
  display: none;
}

@media (max-width: 900px) {
  .hero {
    background-image: url("/assets/img/pink-bg-mobile.png");
  }
  .img__carousel {
    width: 50%;
  }
  .main__title {
    padding: 52px 22px 0 !important;
  }
  .main__row-1,
  .main__row-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: none !important;
  }
  .main__row-2 {
    margin-top: 68px;
  }
  .influencer__card {
    position: relative;
    margin-top: 26px;
  }
  .influencers__content {
    margin: 42px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .form__fields {
    width: 75% !important;
  }
  .footer__infos__mob {
    display: block;
    text-align: center;
    font-size: 12px;
  }
  .footer__infos__desk {
    display: none;
  }
  .jobspace__link {
    font-size: 12px;
  }
  .img__slide {
    max-width: 300px;
  }
}
/*# sourceMappingURL=main.css.map */